{% extends 'base.html' %}
{% block body %}
        <div class="row demo-tiles">
          <div class="span11 centers">
            <h3 style="font-size: 24px">Bridging the Arts at University California of Berkeley is a program that engages one K-12 students, UCB students and teachers in Oakland Unified and West Contra Costa Unified School Districts.  The schools we currently serve include Coronado Elementary, Hoover Elementary and Helms Middle School.</h3>
            <h4 style="color: rgba(52, 73, 94, 0.5); margin-top: 20px">Many public schools in the Bay Area have little or no arts programming or curricula that specifically address the California State Standards.  Bridging the Arts seeks to expand the opportunities and address the social inequalities in arts education by facilitating access to lessons/lesson plans, promoting education successes/retention, and college-going interests.</h4>
            <h4 style="color: rgba(52, 73, 94, 0.5)">Bridging the Arts provides its students with benefits directly related to arts learning but also to writing, vocabulary, participation, and collaboration. Bridging the Arts projects demonstrate that students who have worked with art processes actively use cognitive skills and problem solving that can be useful in many other subjects.</h4>
            <h4 style="color: rgba(52, 73, 94, 0.5)">UCB Bridging the Arts Student Instructors are a significant influence and may be the only exposure K-12 students will get to college students. Of note are the transformative abilities of the collaborations to engage, excite, and promote learning. Bridging the Arts is the only program on campus that presents K-12 students and cooperative teachers with the opportunity to integrate art into their pre-existing curricula, providing schools with UCB student instructors, role models and accessible practicing artists. UCB Bridging the Arts students share their knowledge with K-12 schools’ students and teachers while receiving pedagogy in K-12 arts education.</h4>
            <div class="span6 centers" style="margin-top: 20px;">
              <img src="../static/images/tealcollage.jpg">
            </div>
              <!-- <img src="images/icons/Compas@2x.png" alt="Compas@2x" class="tile-image big-illustration"> -->
              <!-- <h3 class="demo-panel-title lefty">UCB ArtsBridge</h3> -->
              <!-- <a class="btn btn-primary btn-large btn-block" href="http://designmodo.com/flat">Get Pro</a> -->
          </div>
        </div>

<!--           <div class="span10 bullets">
            <div class="span5 centerl">
              <div style="height: 300px; padding: 20px;" class="tile"> -->
                <!-- <img src="images/icons/Infinity-Loop@2x.png" alt="Infinity-Loop@2x" class="tile-image"> -->
 <!--                <h3 class="tile-title">ArtsBridge assists UCB arts majors in</h3>
                <div class="mini-tile">
                  <h4>- developing age-appropriate and culturally-sensitive arts curricula</h4>
                  <h4>- gaining practical teaching experience</h4>
                </div>
                <a class="btn btn-primary btn-large btn-block" href="http://designmodo.com/flat">Get Pro</a>
              </div>
            </div> -->

<!--             <div class="span5 centerr">
              <div style="height: 300px; padding: 20px;" class="tile"> -->
                <!-- <img src="images/icons/Pensils@2x.png" alt="Pensils@2x" class="tile-image"> -->
<!--                 <h3 style="line-height: 30px;" class="tile-title">ArtsBridge provides K-12 teachers, students and parents with</h3>
                <h4>- developing age-appropriate and culturally-sensitive arts curricula</h4>
                <h4>- gaining practical teaching experience</h4>
                <a class="btn btn-primary btn-large btn-block" href="http://designmodo.com/flat">Get Pro</a>
              </div>
            </div>
          </div>   -->

<!--           <div class="span3">
            <div class="tile tile-hot">
              <img src="images/icons/Chat@2x.png" alt="Chat@2x" class="tile-image">
              <h3 class="tile-title">Free for Share</h3>
              <p>Your likes, shares and comments helps us.</p>
              <a class="btn btn-primary btn-large btn-block" href="http://designmodo.com/flat">Get Pro</a>
            </div>



              <h4>ArtsBridge assists UCB arts majors in 
- developing age-appropriate and culturally-sensitive arts curricula
- gaining practical teaching experience</h4>

<h4>ArtsBridge provides K-12 teachers, students and parents with
- new opportunities in sequential arts learning
- arts lessons of variety of arts disciplines
- resources for continued arts learning at home</h4>


          </div> -->
        </div> <!-- /tiles -->

<!--         <div class="login">

          <div class="login-screen2"> -->
<!--             <div class="login-icon">
              <img src="images/login/icon.png" alt="Welcome to Mail App" />
              <h4>Welcome to <small>Mail App</small></h4>
            </div> -->

<!--             <div class="login-form">
              <div class="control-group">
                <input type="text" class="login-field" value="" placeholder="Enter your name" id="login-name" />
                <label class="login-field-icon fui-user" for="login-name"></label>
              </div>

              <div class="control-group">
                <input type="password" class="login-field" value="" placeholder="Password" id="login-pass" />
                <label class="login-field-icon fui-lock" for="login-pass"></label>
              </div>

              <a class="btn btn-primary btn-large btn-block" href="#">Login</a>
              <a class="login-link" href="#">Lost your password?</a>
            </div> -->
   <!--          <h3 style="font-size: 42px;">Our site is a work in progress!</h3>
            <h4 style="font-size: 24px; padding-top: 10px;">Please bear with us while we continue to build</h4>
          </div>
        </div> -->

<!--         <div class="row">
          <div class="span9">
            <div class="demo-browser">
              <div class="demo-browser-side">
                <div class="demo-browser-author"></div>
                <div class="demo-browser-action">
                  <a class="btn btn-danger btn-large btn-block" href="http://twitter.com/monstercritic" target="_blank">
                    Follow
                  </a>
                </div>
                <h5>@monstercritic</h5>
                <h6>
                  Tourist. Designer. NYC
                  <a href="http://shmidt.in" target="_blank">shmidt.in</a>
                </h6>
              </div>
              <div class="demo-browser-content">
                <img src="images/demo/browser-pic-1.jpg" alt="" />
                <img src="images/demo/browser-pic-2.jpg" alt="" />
                <img src="images/demo/browser-pic-3.jpg" alt="" />
                <img src="images/demo/browser-pic-4.jpg" alt="" />
                <img src="images/demo/browser-pic-5.jpg" alt="" />
                <img src="images/demo/browser-pic-6.jpg" alt="" />
              </div>
            </div>
          </div> -->

<!--           <div class="span3">
            <div class="demo-download">
              <img src="images/demo/html-icon.png" src="Free PSD" />
            </div>

            <a href="https://github.com/designmodo/Flat-UI/archive/master.zip" class="btn btn-primary btn-large btn-block">Download</a>

            <p class="demo-download-text">Your likes, shares and comments make us happy!</p>
          </div>
        </div> --> <!-- /download area -->
      </div> <!-- /middle -->
    </div> <!-- /container -->

{% endblock %}
