<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>UCB Bridging the Arts: BtheArts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Loading Bootstrap -->
    <link href="../static/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="../static/css/flat-ui.css" rel="stylesheet">

    <link rel="shortcut icon" href="../static/images/favicon.ico">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
      <div id="tippity-top">
        <div class="demo-headline">
          <a href="/" style="text-decoration: none; color: #34495e"><h1 class="demo-logo">
            UCB Bridging the Arts
            <small style="font-size: 42px;">BtheArts</small>
          </h1></a>
        </div> <!-- /demo-headline -->

        <h3 class="demo-panel-title">Resources for</h3>
        <div class="row demo-row">
          <div class="span12">
            <div class="navbar navbar-inverse">
              <div class="navbar-inner">
                <div class="container">
                  <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target="#nav-collapse-01"></button>
                  <div class="nav-collapse collapse" id="nav-collapse-01">
                    <ul class="nav">
                      <li class="active nav-buttonr"> <!-- class="active" highlights it -->
                        <a href="/teachers">
                          Schools & Educators
                        </a>
                        <ul class="lefty">
                          <li><a href="/teachers">Teachers</a></li>
                          <li><a href="/principals">Principals</a></li>
                          <li class="active"><a href="/application">Application for BtheArts</a></li>
                          <li><a href="/progeval">Program Evaluation</a></li>
                        </ul> <!-- /Sub menu -->
                      </li>
                      <li class="nav-buttonr">
                        <a href="/students">UCB Students</a>
                        <ul class="lefty">
                          <li><a href="/studapplication">Application</a></li>
                          <li><a href="/studcontract">Contract</a></li>
                          <li><a href="/lessonplantemplate">Lesson Plan Template</a></li>
                          <li><a href="/samplelessonplans">Sample Lesson Plans</a></li>
                          <li><a href="/planningcurriculum">Planning Your Curriculum</a></li>
                          <li><a href="/postproject">Post Your '@home' Project</a></li>
                        </ul> <!-- /Sub menu -->
                      </li>
                      <li class="nav-buttonr">
                        <a href="/families">K-12 Students & Families</a>
                        <ul class="lefty">
                          <li><a href="/projects">@home Projects</a></li>
                          <li><a href="/gallery">@home Gallery</a></li>
                          <li><a href="/feedback">Feedback</a></li>
                        </ul> <!-- /Sub menu -->
                      </li>
                      <li class="nav-buttonr">
                        <a href="/about">About</a>
                      </li>
                    </ul>
                  </div><!--/.nav -->
                </div>
              </div>
            </div>
          </div>
        </div> <!-- /row -->
      </div>
      <div id="middle">

        <div class="row demo-tiles">
          <div class="span11 centers">
            <h3 style="text-align:left">If you are interested in applying, please see the terms below for a Bridging the Arts partnership.</h3>
            <ul>
              <li style="text-align: left">
                <h4 style="display: inline"> The B the Arts project is a collaborative process, meaning your volunteer is not expected to lead the class alone.</h4><h4 style="color: rgba(52, 73, 94, 0.5); display: inline">&nbsp; Your active involvement in providing guidance for methods of instruction and assistance with classroom management are necessary so the B the Arts project and your classroom’s needs complement each other.  We hope you will be able to reuse and reinvest project materials and ideas for subsequent years.</h4>
              </li>
              <li style="text-align: left">
                <h4 style="display: inline"> We emphasize the need for the same B the Arts cooperative teacher and volunteer team to work together throughout the semester.</h4><h4 style="color: rgba(52, 73, 94, 0.5); display: inline">&nbsp; Part of the B the Arts mission is to introduce sequential arts curriculum to a teacher who will be able to incorporate the lessons in future classes.  Additionally, your attendance in the classroom is not only mandated by district policy but is crucial to assist B the Arts volunteers with classroom management.</h4>
              </li>
              <li style="text-align: left">
                <h4 style="display: inline"> We appreciate any assistance you can offer with materials.</h4><h4 style="color: rgba(52, 73, 94, 0.5); display: inline">&nbsp; B the Arts has limited funding so we appreciate when cooperative schools can contribute any preexisting materials such as scissors, butcher paper, glue, paint brushes, paints, etc.  Also, if you know of small grants you can apply for to get materials please feel free to engage your partnering volunteer in the grant application process.</h4>
              </li>
              <li style="text-align: left">
                <h4 style="display: inline"> Please be flexible in your scheduling with your B the Arts volunteer.</h4><h4 style="color: rgba(52, 73, 94, 0.5); display: inline">&nbsp; All volunteers are full-time UC Berkeley students and must maintain their campus schedules.  Also, we understand there are great demands placed on you and your classroom.  Please coordinate with your partnering volunteers to establish a time each week that will work for both of you. If there is a holiday, field-trip, assembly or half-day please notify your volunteer ahead of time and reschedule the lesson.</h4>
              </li>
              <li style="text-align: left">
                <h4 style="display: inline"> There will be the opportunity for video and photographic documentation of the B the Arts activities that go on in your classroom.</h4><h4 style="color: rgba(52, 73, 94, 0.5); display: inline">&nbsp; Volunteers have release forms that you will need to look over before they are signed by your students’ parents.  Please inform B the Arts of any specific policies your school may have regarding documentation.</h4>
              </li>
              <li style="text-align: left">
                <h4 style="display: inline"> B the Arts volunteers will have two on-site evaluations over the course of the semester.</h4><h4 style="color: rgba(52, 73, 94, 0.5); display: inline">&nbsp; One observation will be by another B the Arts volunteer and the other will be by Elise Putnam, the B the Arts Coordinator.  It is your partnering volunteer’s responsibility to inform you of these visits in advance.  Observers will not disturb the instruction and will watch quietly to write an evaluation of the volunteer’s instruction.</h4>
              </li>
              <li style="text-align: left">
                <h4 style="display: inline"> Additionally, we ask that you write an evaluation of your B the Arts experience near the end of the semester.</h4><h4 style="color: rgba(52, 73, 94, 0.5); display: inline">&nbsp; We are not only interested in your volunteer’s performance in the classroom but also the effectiveness of your B the Arts partnership.  We are looking for ways to improve and expand the B the Arts program and welcome all feedback.  If you have any problems working with your volunteer, please notify B the Arts immediately so we may assist in solving the problem.</h4>
              </li>
            </ul>
            <h3 style="text-align:left">To apply, please contact Program Coordinator, Elise Putnam at <a href="mailto:info@bthearts.org" style="text-decoration:none">info@bthearts.org</a></h3>

          </div>
        </div> 

      </div> <!-- /middle -->
    </div> <!-- /container -->

    <footer class="short-footer">
      <div class="container">
        <div class="row">
          <div class="span7">
            <h3 class="footer-title">Questions? Comments? Requests?</h3>
            <p>
contact Bridging the Arts Lecturer and Program Coordinator:<br>
Elise Putnam<br>
<a href="mailto:info@bthearts.org" style="text-decoration:none">info@bthearts.org</a></p>
          </div> <!-- /span7 -->

<!--           <div class="span5">
            <div  style="background-color: #34495e;" class="login-form">
              <div class="control-group">
                <input type="text" class="login-field" value="" placeholder="Enter your name" id="login-name" />
                <label class="login-field-icon fui-user" for="login-name"></label>
              </div>

              <div class="control-group">
                <input type="password" class="login-field" value="" placeholder="Password" id="login-pass" />
                <label class="login-field-icon fui-lock" for="login-pass"></label>
              </div>

              <a style="width:313px; margin:auto;" class="btn btn-primary btn-large btn-block" href="#">Login</a>
              <a class="login-link" href="#">Lost your password?</a>
            </div>
          </div> -->
        </div>
      </div>
    </footer>
    
    <!-- Load JS here for greater good =============================-->
    <script src="../static/js/jquery-1.8.3.min.js"></script>
    <script src="../static/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="../static/js/jquery.ui.touch-punch.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/bootstrap-select.js"></script>
    <script src="../static/js/bootstrap-switch.js"></script>
    <script src="../static/js/flatui-checkbox.js"></script>
    <script src="../static/js/flatui-radio.js"></script>
    <script src="../static/js/jquery.tagsinput.js"></script>
    <script src="../static/js/jquery.placeholder.js"></script>
    <script src="../static/js/jquery.stacktable.js"></script>
    <script src="http://vjs.zencdn.net/c/video.js"></script>
    <script src="../static/js/application.js"></script>
  </body>
</html>
