{% extends 'base.html' %}
{% block body %}

        <div class="row demo-tiles">
          <div class="span11 centers">
            <h3>Bridging the Arts or BtheArts is a unique collaboration between the </h3>
            <h3>University of California, Berkeley and local K-12 school communities including teachers, students and parents.</h3>
            <h3 style="color: rgba(52, 73, 94, 0.5);">Through expanding access to the arts, we provide students with the tools for critical investigation and analysis. These critical thinking strategies help prepare students to succeed both in and beyond the school environment.</h3>
          </div>
        </div>

        <div class="span10 bullets">
          <div class="span5 centerl">
            <div style="height: 350px; padding: 33px;" class="tile">
              <h3 style="line-height: 30px;" class="tile-title">BtheArts assists UC Berkeley arts majors in</h3>
              <div class="mini-tile">
                <a href="/about" style="text-decoration: none; color: #34495e;"><h4>developing age-appropriate and culturally-sensitive arts curricula</h4></a></div>
              <div class="mini-tile">
                <a href="/about" style="text-decoration: none; color: #34495e;"><h4>gaining practical teaching experience</h4></a></div>
            </div>
          </div>

          <div class="span5 centerr">
            <div style="height: 350px; padding: 33px;" class="tile">
              <h3 style="line-height: 30px;" class="tile-title">BtheArts provides K-12 teachers, students and parents with</h3>
              <div class="mini-tile">
               <a href="/about" style="text-decoration: none; color: #34495e;"><h4>new opportunities in sequential arts learning</h4></a></div>
              <div class="mini-tile">
                <a href="/about" style="text-decoration: none; color: #34495e;"><h4>lessons in a variety of art disciplines</h4></a></div>
              <div class="mini-tile">
                <a href="/about" style="text-decoration: none; color: #34495e;"><h4>resources for continued arts learning at home</h4></a></div>
            </div>
          </div>
        </div>  

      </div> <!-- /middle -->
    </div> <!-- /container -->
{% endblock %}
