{% extends 'base.html' %}
{% block body %}
      <div id="middle">

        <div class="row demo-tiles">
          <div class="span11 centers">
            <h3 style="text-align: left">To download a Curriculum Overview, click on one of the links below</h3>
            <h4 style="display: inline">PDF&nbsp;&nbsp;&nbsp;</h4>
            <div class="lefty" style="display: inline">
              <a href="../static/images/curriculumoverview.pdf" target="_blank"><img src="../static/images/minicurriculum.png"></a>
            </div>
            <div  class="left" style="display: inline">
              <a href="../static/images/curriculumoverview.doc" target="_blank"><img src="../static/images/minicurriculum.png"></a>
            </div>
            <h4 style="display: inline">&nbsp;&nbsp;&nbsp;DOC</h4>
          </div>
        </div> 

      </div> <!-- /middle -->
    </div> <!-- /container -->
{% endblock %}