{% extends 'base.html' %}
{% block body %}
      <div id="middle">

        <div class="row demo-tiles">
          <div class="span11 centers">
            <h3 style="text-align: left">To download a Program Evaluation, please click on the link below</h3>
            <div class="lefty"><a href="../static/images/coopteachprogrameval.pdf" target="_blank"><img src="../static/images/minipdf.png"></a></div>
          </div>
        </div>
 
      </div> <!-- /middle -->
    </div> <!-- /container -->

{% endblock %}