{% extends 'base.html' %}
{% block body %}

      <div id="middle">

        <div class="row demo-tiles">
          <div class="span11 centers">
            <h3 style="font-size:22px">Dance, Visual Art, Music, Theater, Performance Art, Spoken Word, Social Practice</h3>
            <h4 style="color: rgba(52, 73, 94, 0.5); text-align:left"> As a student instructor with Bridging the Arts you have the opportunity to share your art practice with local elementary school students.</h4>
            <h4 style="color: rgba(52, 73, 94, 0.5); text-align:left">Through Bridging the Arts, you will develop an arts curriculum that explores the essence of your discipline. Over the course of the semester, you will develop ten lesson plans that help your students access and explore the artistic process.</h4>
          </div>
          <div class="span11 centers" style="margin: 20px 0px 0px 120px;">
            <div class="span3" style="display: inline">
              <img src="../static/images/bluepaperpin.jpg">
            </div>
            <div class="span3" style="display: inline">
              <img src="../static/images/meltedcrayoncanvas.jpg">
            </div>
            <div class="span3" style="display: inline">
              <img src="../static/images/pinkbrushed.jpg">
            </div>
          </div>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <div class="span11 centers">
            <h3 style="font-size:22px; text-align: left">Explore resources for Student Instructors below:</h3>
            <div class="span4 lefty" style="margin-left: 0px;">
              <a href="/studapplication" style="text-decoration:none"><h4 style="color: rgba(52, 73, 94, 0.5); text-align:left">Application</h4></a>
              <a href="/studcontract" style="text-decoration:none"><h4 style="color: rgba(52, 73, 94, 0.5); text-align:left">Contract</h4></a>
              <a href="/lessonplantemplate" style="text-decoration:none"><h4 style="color: rgba(52, 73, 94, 0.5); text-align:left">Lesson Plan Template</h4></a>
              <a href="/samplelessonplans" style="text-decoration:none"><h4 style="color: rgba(52, 73, 94, 0.5); text-align:left">Sample Lesson Plans</h4></a>
              <a href="/planningcurriculum" style="text-decoration:none"><h4 style="color: rgba(52, 73, 94, 0.5); text-align:left">Planning Your Curriculum</h4></a>
              <a href="/postproject" style="text-decoration:none"><h4 style="color: rgba(52, 73, 94, 0.5); text-align:left">Post Your '@home' Project</h4></a>
            </div>
          </div>
        </div> 
      </div> <!-- /middle -->
    </div> <!-- /container -->
{% endblock %}