{% extends 'base.html' %}
{% block body %}

      <div id="middle">

        <div class="row demo-tiles">
          <div class="span11 centers">
            <h3 style="text-align: left">To download a Student Instructor Contract Agreement, please click below</h3>
            <div class="lefty"><a href="../static/images/studentinstructorcontract.pdf" target="_blank"><img src="../static/images/ministudcontract.png"></a></div>
          </div>
        </div> 

      </div> <!-- /middle -->
    </div> <!-- /container -->

{% endblock %}