{% extends 'base.html' %}
{% block body %}
      <div id="middle">

        <div class="row demo-tiles">
          <div class="span11 centers">
            <h3 style="text-align: left">To download a Student Instructor application, please click on the link below</h3>
            <div class="lefty"><a href="../static/images/UCBStudentInstructorApplication.pdf" target="_blank"><img src="../static/images/ministudapp.png"></a></div>
          </div>
        </div> 

      </div> <!-- /middle -->
    </div> <!-- /container -->

{% endblock %}
   