{% extends 'base.html' %}
{% block body %}

      <div id="middle">

        <div class="row demo-tiles">
          <div class="span11 centers">
            <h3 style="text-align:left">What is BtheArts?</h3>
            <h4 style="color: rgba(52, 73, 94, 0.5); text-align:left">Bridging the Arts (or BtheArts) is a unique collaboration during the school day between the University of California, Berkeley and local K-12 school communities including teachers, students and parents. UCB arts majors develop age-appropriate and culturally relevant arts curricula while gaining practical teaching experience. BtheArts provides new opportunities in sequential arts learning for K-12 students and encourages parent participation through a variety of resources for continued arts learning at home.</h4>
            <h4 style="color: rgba(52, 73, 94, 0.5); text-align:left">Bridging the Arts expands access to the arts while providing K-12 students with the tools for critical investigation and analysis. These critical thinking strategies help prepare students to succeed both in and beyond the school environment.</h4>

            <h3 style="text-align:left">Who is Eligible?</h3>
            <h4 style="color: rgba(52, 73, 94, 0.5); text-align:left">All K-12 schools in OUSD and WCCUSD are invited to apply to partner with BtheArts. Preference is given to schools without sufficient arts programming.</h4>

            <h3 style="text-align:left">As a cooperative teacher, what is required of me?</h3>
            <h4 style="color: rgba(52, 73, 94, 0.5); text-align:left">Cooperative teachers are asked to recognize that student instructors are also full-time UCB students and to be flexible to accommodate their student instructor’s schedule.</h4>

            <h3 style="text-align:left">As a partner school, what is required of us?</h3>
            <h4 style="color: rgba(52, 73, 94, 0.5); text-align:left">BtheArts aims to partner with schools that believe the arts are an integral part of education. Because of this, we look for schools where the majority of teachers are interested in participating. Additionally, we ask the partner school to elect a point person to be the liaison between BtheArts and the school. The point person can be a specialist or a classroom teacher who has taken an interest in working with BtheArts. Our BtheArts Program Coordinator is available to all cooperative teachers and checks in with the point person from time to time for feedback from cooperative teachers or to organize events such as BtheArts Student Gallery Shows.</h4>

            <h3 style="text-align:left">Is there a cost to work with BtheArts?</h3>
            <h4 style="color: rgba(52, 73, 94, 0.5); text-align:left">No. BtheArts does not charge for our arts programming. We work with the resources available at the school and bring in our own materials when necessary.</h4>

          </div>
        </div> 

      </div> <!-- /middle -->
    </div> <!-- /container -->

  {% endblock %}